<div class="sidebar sticky-top">
  <div>
    <h4 class="sidebar-title">龍洞岬</h4>
    <hr />
    <div class="sidebar-content">
      <a href="/snorkeling" class="sidebar-subtitle">
        <h6>浮潛裝備</h6>
      </a>
      <a href="/freediving" class="sidebar-subtitle">
        <h6>自潛裝備</h6>
      </a>
    </div>
  </div>
  <div>
    <a href="/logout" class="sidebar-btn">
      <h6>登出</h6>
    </a>
  </div>
</div>
