<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>龍洞岬裝備中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">

  </head>

  <body class="container-fluid wrap">

    <div class="row">

      <div class="col-2 p-0">
        {{> sidebar}}
      </div>

      {{{ body }}}

    </div>

    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

  </body>

</html>
